
  
body {

    .navbar {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: #333;
        padding: 10px;
        color: white;
        z-index: 1000; /* Para que esté encima de otros elementos */
      }

    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Fondo claro */
  }

  .logocontacto {
    margin-top: 200px; /* Desplaza todo el contenedor hacia abajo */
    
  }

  .logomail {
    width: 200px;        /* Tamaño pequeño */
      height: auto;       /* Mantiene proporciones */
      margin-top: 225px;
      position: relative; /* Evita que se mueva o se superponga */
      top: 0;
      left: 0;
      display: block;     /* Asegura que respete su espacio */
  }

  .fixed-logo {
    width: 50px !important;
    height: 50px;
    object-fit: contain; /* O 'cover' según el efecto deseado */
  }
  
  .headervivo{
    font-size: 12px;
    color: white;
  }
  
  
  
  /* Ajustes de encabezados */
  h3 {
    font-weight: bold;
  }
  .barra-superior, .barra-inferior {
    background-color: #002147;
    color: white;
    padding: 10px;
    text-align: center;
}
.barra-superior .nav-link, .barra-inferior .nav-link {
    color: white;
}
.barra-superior .nav-link:hover, .barra-inferior .nav-link:hover {
    text-decoration: underline;
}
.carousel-item img {
    max-height: 200px;
    object-fit: cover;
}

.divider {
  border-top: 2px solid #dc3545;
  margin: 20px 0;
  width: 50%;
  margin-left: auto;
  margin-top: 40px;
}

.border{

    border-top: 2px solid #dc3545;
    margin: 20px 0;
    margin-left: auto;
    margin-top: 40px;

}
.section-title {
  color: #dc3545;
  font-weight: bold;
  margin-top: 20px;
}

.estado {
  color: #dc3545; /* Color rojo */
  margin-left: 110px; /* Ajusta el valor para mover más o menos */
  font-size: 32px; /* Aumenta el tamaño del texto */
  font-weight: bold; /* Opcional: Hace el texto más grueso */
  margin-top: 20px; /* Mueve el texto hacia abajo */
}

.noticiasindex{
  width: 100%; /* Asegura que cubra todo el ancho */
          padding: 50px 20px;
            background-color: #d9534f; /* Rojo similar al de la imagen */
            padding: 50px 20px;
            width: 100vw; /* Ancho total de la pantalla */
            margin-left: calc(-50vw + 50%); /* Alinear al borde de la pantalla */
}